__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.env
k8s/secret.yaml
*.log

logs/*
!logs/.gitkeep

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/

.DS_Store
Thumbs.db

reports_and_documents/*
